<h2>O stronie</h2>
<article>
  <header>
    <h3>Opis</h3>
  </header>
  <section>
    Serwis Internetowy do Zarządzania Bazą Materiałów Dydaktycznych jest
    projektem uczelnianym. Powstał w ramach pracy magisterskiej pod takim samym tytułem.
  </section>
  <section>
    Serwis umożliwia przechowywanie zadań dydaktycznych,
    filtrowanie ich oraz generowanie dokumentów w postaci plików PDF, które mogą służyć
    w prowadzeniu zajęć dydaktycznych na uczelni.
  </section>
  <section>
    W ramach serwisu zadania mogą być dostępne dla wszystkich zalogowanych
    użytkowników, lub tylko dla wybranych grup.
    Użytkownik dla wybranych grup ma możliwość definiowania własnych
    profili dostępów określających, które treści mają być widoczne.
  </section>
</article>
<article>
  <header>
    <h3>Kontakt</h3>
  </header>
  <section>
    Autor: Łukasz Bartocha
  </section>

</article>
