<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="category-valid" name="categoryform">
    <div class="form-group" ng-class="{
          'has-error': categoryform.name.$invalid || $ctrl.backendvalid.category_name
        }">
      <label for="formGroupExampleInput0">Nazwa kategorii</label>
      <input ng-change="$ctrl.backendvalid.category_name=''" name="name" ng-maxlength="150" ng-model="$ctrl.items.category_name" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Nazwa"  required>
      <span class="valid-luki-style" ng-show="categoryform.name.$invalid"><small>Wymagana nazwa pliku.</small></span>
      <span class="valid-luki-style" ng-show="categoryform.name.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.category_name"><small>{{$ctrl.backendvalid.category_name[0]}}</small></span>

    </div>
    {{category_name_valid}}
    <div class="form-group" ng-class="{
          'has-error': $ctrl.backendvalid.parent
        }">
      <label for="repeatSelect">Wybierz kategorię nadrzędną</label>
      <select ng-change="$ctrl.backendvalid.parent=''" class="form-control" ng-model="$ctrl.items.parent" ng-options="opt.full_name for opt in $ctrl.items.category_list | orderBy:'full_name'" ></select>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.parent"><small>{{$ctrl.backendvalid.parent[0]}}</small></span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
  <button ng-disabled="categoryform.name.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.send_button_name}}</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>
