<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  {{$ctrl.body}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.send_button_name}}</button>
  <button ng-show="$ctrl.is_showed" class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Nie</button>
</div>
