  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}
      <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Możesz zmieniać kolejność zadań w szablonie dokumentu za pomocą metody 'Przeciągnij i Upuść'." tooltip-trigger="focus" tooltip-placement="bottom">
        <span class="glyphicon glyphicon-question-sign"></span>
      </button>
    </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form  name="documentform" >
      <div ng-if="$ctrl.document_visible">
        <div class="form-group" ng-class="{
              'has-error': documentform.name.$invalid || $ctrl.backendvalid[0].name
            }">
          <label for="formGroupExampleInput0">Nazwa</label>
          <input ng-change="$ctrl.backendvalid[0].name=''" name="name" ng-maxlength="300" ng-model="$ctrl.items.name" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Nazwa  szablonu dokumentu" required>
          <span class="valid-luki-style" ng-show="documentform.name.$invalid"><small>Wymagana nazwa.</small></span>
          <span class="valid-luki-style" ng-show="documentform.name.$invalid"><small>Maksymalna liczba znaków: 300</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].name"><small>{{$ctrl.backendvalid[0].name[0]}}</small></span>
        </div>
        <div class="form-group" ng-class="{
              'has-error': documentform.description.$invalid || $ctrl.backendvalid[0].title
            }">
          <label for="formGroupExampleInput1">Opis</label>
          <textarea ng-change="$ctrl.backendvalid[0].title=''" name="description" ng-maxlength="500" rows="3" ng-model="$ctrl.items.description" type="text" class="form-control" id="formGroupExampleInput1" placeholder="Opis dokumentu"></textarea>
          <span class="valid-luki-style" ng-show="documentform.description.$invalid"><small>Maksymalna liczba znaków: 500</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].title"><small>{{$ctrl.backendvalid[0].title[0]}}</small></span>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność części tytułowej</label>
          <div class="col-sm-6">
            <div class="btn-group ">
              <label class="btn btn-success switch-button-luki" ng-model="$ctrl.items.is_title_part" uib-btn-radio="true" >
                <span
                  class="glyphicon glyphicon-ok"
                  >
                </span>
              </label>
              <label class="btn btn-success" ng-model="$ctrl.items.is_title_part" uib-btn-radio="false" >
                <span
                  class="glyphicon glyphicon-remove"
                  >
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{
              'has-error': documentform.documenttitle.$invalid || $ctrl.backendvalid[0].document_title
            }">
          <label for="formGroupExampleInput4">Tytuł dokumentu</label>
          <input ng-change="$ctrl.backendvalid[0].document_title=''" name="documenttitle" ng-maxlength="300" ng-model="$ctrl.items.document_title" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Tytuł dokumentu">
          <small ng-if="$ctrl.items.document_title">Kod LaTeX</small>
          <span ng-if="$ctrl.items.document_title" hljs hljs-language="tex" hljs-source="$ctrl.items.document_title"></span>
          <span class="valid-luki-style" ng-show="documentform.documenttitle.$invalid"><small>Maksymalna liczba znaków: 300</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].document_title"><small>{{$ctrl.backendvalid[0].document_title[0]}}</small></span>
        </div>
        <div class="form-group" ng-class="{
              'has-error': documentform.author.$invalid || $ctrl.backendvalid[0].author
            }">
          <label for="formGroupExampleInput2">Autor</label>
          <input ng-change="$ctrl.backendvalid[0].author=''" name="author" ng-maxlength="150" ng-model="$ctrl.items.author" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Autor">
          <small ng-if="$ctrl.items.author">Kod LaTeX</small>
          <span ng-if="$ctrl.items.author" hljs hljs-language="tex" hljs-source="$ctrl.items.author"></span>
          <span class="valid-luki-style" ng-show="documentform.author.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].author"><small>{{$ctrl.backendvalid[0].author[0]}}</small></span>
        </div>
        <div class="form-group" ng-class="{
              'has-error': documentform.date.$invalid || $ctrl.backendvalid[0].date
            }">
          <label for="formGroupExampleInput2">Data</label>
          <input ng-change="$ctrl.backendvalid[0].date=''" name="date" ng-maxlength="150" ng-model="$ctrl.items.date" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Data lub inny kod LaTeX">
          <small ng-if="$ctrl.items.date">Kod LaTeX</small>
          <span ng-if="$ctrl.items.date" hljs hljs-language="tex" hljs-source="$ctrl.items.date"></span>
          <span class="valid-luki-style" ng-show="documentform.date.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].date"><small>{{$ctrl.backendvalid[0].date[0]}}</small></span>
        </div>
        <div class="form-group" ng-class="{
              'has-error': documentform.filename.$invalid || $ctrl.backendvalid[0].filename
            }">
          <label for="formGroupExampleInput3">Nazwa pliku</label>
          <input ng-change="$ctrl.backendvalid[0].filename=''" name="filename" ng-maxlength="150" ng-model="$ctrl.items.filename" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Nazwa pliku" required>
          <span class="valid-luki-style" ng-show="documentform.filename.$invalid"><small>Wymagana nazwa pliku.</small></span>
          <span class="valid-luki-style" ng-show="documentform.filename.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].filename"><small>{{$ctrl.backendvalid[0].filename[0]}}</small></span>
        </div>
      </div>
      <!--  a tutaj mamy załączniki - BEGIN-->
      <!-- <button ng-show="$ctrl.items.exercise_recipes" ng-click=" $ctrl.addForm(0)">Podformularz załącznika</button> -->
      <div ng-if="$ctrl.onlyExRecipesMode" class="form-group">
        <label for="repeatSelect">Wybierz, do którego dokumentu mają zostać podpięte zadania</label>
        <select class="form-control" ng-model="$ctrl.items.selectedType" ng-options="opt.name for opt in $ctrl.items.document"></select>
      </div>
      <div ng-if="$ctrl.onlyExRecipesMode" class="form-group">
        <label for="repeatSelect">Wybierz umiejscowienie podpinanych zadań</label>
        <select class="form-control" ng-model="$ctrl.items.selectedPosition" ng-options="opt.name for opt in $ctrl.items.positions"></select>
      </div>
      <div  ng-if="$ctrl.items.exercise_recipes.length > 1" class="form-group row" ng-repeat="(key, value) in $ctrl.selectVisibity">
        <label for="staticEmail" class="col-sm-6 col-form-label">{{$ctrl.selectVisibity[key][1]}}</label>
        <div class="col-sm-6">
          <div class="btn-group" ng-click="$ctrl.selectAllIntro(key)">
            <label class="btn btn-success switch-button-luki" ng-model="$ctrl.selectVisibity[key][0]" uib-btn-radio="true" uncheckable>
              <span
                class="glyphicon glyphicon-ok"
                >
              </span>
            </label>
            <label class="btn btn-success" ng-model="$ctrl.selectVisibity[key][0]" uib-btn-radio="false" uncheckable >
              <span
                class="glyphicon glyphicon-remove"
                >
              </span>
            </label>
          </div>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-xs-12">
          <div class="form-check">
              <input ng-change="$ctrl.selectAllIntro()" ng-model="$ctrl.selectIntro" class="form-check-input" type="checkbox" value="" id="defaultCheck{{index}}">
              <label class="form-check-label" for="selectedCheck">
                Ustaw wszystkie wprowadzenia jako widoczne {{$ctrl.selectIntro == false ? "widoczne" : "niewidoczne"}}
              </label>
          </div>
        </div>
      </div> -->
      <div  id="list-container" class="panel-body panel-body2" dragula='"exercise-table2"' dragula-model="$ctrl.items.exercise_recipes">
        <article  ng-if="$ctrl.document_recipe_visible" ng-repeat="exercise_recipe in  $ctrl.items.exercise_recipes">
          <header class="exerciseheaderhandler" >
            <h4>Zadanie {{$ctrl.document_visible ? $index+1 : ""}}:
              <button ng-show="$ctrl.document_visible" type="button" class="btn-link white" href="#" ng-click="$ctrl.removeForm($index)">
              <span class=" glyphicon glyphicon-remove-sign"></span>
               </button>
              <a class="btn btn-link" id="link-6" ng-click="$ctrl.goToSingleExercisePage($index)">{{$ctrl.items.exercise_recipes[$index].exercise.title}}</a>
            </h4>
            <span class="valid-luki-style" ng-show="$ctrl.backendvalid[0].exercise_recipes[$index].non_field_errors[0]"><small>{{$ctrl.backendvalid[0].exercise_recipes[$index].non_field_errors[0]}}</small></span>
          </header>

          <div  class="form-group row dragulatest">
            <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność tytułu</label>
            <div class="col-sm-6">
              <div class="btn-group ">
                <label class="btn btn-success switch-button-luki" ng-model="$ctrl.items.exercise_recipes[$index].is_title" uib-btn-radio="true" >
                  <span
                    class="glyphicon glyphicon-ok"
                    >
                  </span>
                </label>
                <label class="btn btn-success" ng-model="$ctrl.items.exercise_recipes[$index].is_title" uib-btn-radio="false" >
                  <span
                    class="glyphicon glyphicon-remove"
                    >
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row dragulatest">
            <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność wprowadzenia</label>
            <div class="col-sm-6">
              <div class="btn-group ">
                <label class="btn btn-success switch-button-luki" ng-model="$ctrl.items.exercise_recipes[$index].is_intro" uib-btn-radio="true" >
                  <span
                    class="glyphicon glyphicon-ok"
                    >
                  </span>
                </label>
                <label class="btn btn-success" ng-model="$ctrl.items.exercise_recipes[$index].is_intro" uib-btn-radio="false" >
                  <span
                    class="glyphicon glyphicon-remove"
                    >
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row dragulatest">
            <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność wskazówki</label>
            <div class="col-sm-6">
              <div class="btn-group ">
                <label class="btn btn-success switch-button-luki" ng-model="$ctrl.items.exercise_recipes[$index].is_hint" uib-btn-radio="true" >
                  <span
                    class="glyphicon glyphicon-ok"
                    >
                  </span>
                </label>
                <label class="btn btn-success" ng-model="$ctrl.items.exercise_recipes[$index].is_hint" uib-btn-radio="false" >
                  <span
                    class="glyphicon glyphicon-remove"
                    >
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row dragulatest">
            <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność rozwiązania</label>
            <div class="col-sm-6">
              <div class="btn-group ">
                <label class="btn btn-success switch-button-luki" ng-model="$ctrl.items.exercise_recipes[$index].is_solution" uib-btn-radio="true" >
                  <span
                    class="glyphicon glyphicon-ok"
                    >
                  </span>
                </label>
                <label class="btn btn-success" ng-model="$ctrl.items.exercise_recipes[$index].is_solution" uib-btn-radio="false" >
                  <span
                    class="glyphicon glyphicon-remove"
                    >
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div ng-if="$ctrl.document_recipe_ref_visible" class="form-group">
            <label for="repeatSelect">Wybierz, do którego dokumentu ma zostać podpięte zadanie</label>
            <select ng-change="$ctrl.updatePositionList()" class="form-control" ng-model="$ctrl.items.exercise_recipes[$index].selectedType" ng-options="opt.name for opt in $ctrl.items.exercise_recipes[$index].document"></select>
          </div>
          <div ng-if="$ctrl.document_recipe_ref_visible" class="form-group">
            <label for="repeatSelect2">Wybierz numer pozycji zadania.</label>
            <select class="form-control" ng-model="$ctrl.items.exercise_recipes[$index].position_number" ng-options="opt for opt in $ctrl.position_list"></select>
          </div>
          <div ng-if="$ctrl.document_recipe_ref_visible" class="form-group">
            <label ng-if="$ctrl.items.exercise_recipes[$index].selectedType">Wybrany szablon dokumentu:</label>
            <button class="btn btn-link" ng-click="$ctrl.goToSingleDocumentPage($ctrl.items.exercise_recipes[$index].selectedType.id)">{{$ctrl.items.exercise_recipes[$index].selectedType.name}}</button>
          </div>
        </article>
      </div>
      <!-- a tutaj mamy załączniki - END -->
    </form>
  </div>
  <div class="modal-footer">
    <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
    <button ng-disabled="documentform.name.$invalid ||
                         documentform.description.$invalid ||
                         documentform.author.$invalid ||
                         documentform.documenttitle.$invalid ||
                         documentform.filename.$invalid"  class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.send_button_name}}</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
  </div>
