<div ng-controller="DocumentCtrl as $ctrl" ng-init="$ctrl.myInit()">
  <h2>{{$ctrl.bigTotalItems ==1 ? "Szablon dokumentu" : "Szablony dokumentów"}}
  <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Szablony dokumentów pozwalają Ci wygenerować dokument PDF lub plik LaTeX. Szablony dokumentów są wyświetlanie w kolejności alfabetycznej." tooltip-trigger="focus" tooltip-placement="bottom">
    <span class="glyphicon glyphicon-question-sign"></span>
  </button>
  </h2>

  <div ng-if="$ctrl.multipleDocumentMode" class="search-panel container-fluid">
    <div class="exerciseheader">
      <h4 class="elubartflex">{{$ctrl.advanced_search ? "Wyszukiwanie zaawansowane" : "Wyszukiwanie proste"}}</h4>
      <button type="button" class="btn btn-link" ng-model="$ctrl.advanced_search" ng-change="clear_search(); ; $ctrl.getDocuments()"
              uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            {{$ctrl.advanced_search ? "Tryb prosty" : "Tryb zaawansowany"}}
      </button>
    </div>
    <form>
      <div ng-hide="$ctrl.advanced_search" class="form-group row">
        <div class="col-sm-6">
          <input ng-model="$ctrl.sim_search.simply" ng-change="$ctrl.getDocuments()" type="text" class="form-control"  placeholder="Szukaj ...">
        </div>
      </div>
      <div ng-show="$ctrl.advanced_search" class="form-group">
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-6">
                <input ng-model="$ctrl.adv_search.name" ng-change="$ctrl.getDocuments()" type="text" class="form-control" placeholder="Nazwa szablonu">
              </div>
              <div class="col-sm-6">
                <input ng-model="$ctrl.adv_search.filename" ng-change="$ctrl.getDocuments()" type="text" class="form-control" placeholder="Nazwa pliku">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input ng-model="$ctrl.adv_search.description" ng-change="$ctrl.getDocuments()" type="text" class="form-control" placeholder="Opis szablonu">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <input ng-model="$ctrl.adv_search.documenttitle" ng-change="$ctrl.getDocuments()" type="text" class="form-control" placeholder="Tytuł dokumentu">
              </div>
              <div class="col-sm-6">
                <input ng-model="$ctrl.adv_search.author" ng-change="$ctrl.getDocuments()" type="text" class="form-control" placeholder="Autor dokumentu">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label" ><input ng-model="$ctrl.adv_search.operation" ng-change="$ctrl.getDocuments()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="and" checked>
                Dokumenty, do których pasują wszystkie kryteria</label>
            </div>
            <div class="form-check">
              <label class="form-check-label" >
                <input ng-model="$ctrl.adv_search.operation" ng-change="$ctrl.getDocuments()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="or">
                Dokumenty, do których pasuje co najmniej jedno z kryteriów</label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p ng-if="$ctrl.multipleDocumentMode">Znalezione dokumenty: {{$ctrl.bigTotalItems}} szt.</p>
  </div>
  <article ng-repeat="document in documents | orderBy:'name'" ng-init="outerIndex=$index">
    <header class="documentheader">
      <h3  class="pointer  elubartflex document-title" ng-click="$ctrl.goToSingleDocumentPage(document.id)">{{document.name}}</h3>
      <div uib-tooltip="Pobierz {{document.filename}} jako kod źródłowy TeX w formacie zip" class="btn-group" uib-dropdown>
        <button id="split-button2" type="button" class="btn btn-primary" ng-click="$ctrl.generateZipPackageAndDownload(document.id)">
          <span class=" glyphicon glyphicon-compressed"></span>
          TeX
        </button>
      </div>
      <div uib-tooltip="Pobierz {{document.filename}} w PDF" class="btn-group" uib-dropdown>
        <button id="split-button2" type="button" class="btn btn-primary" ng-click="$ctrl.generatePdfDocumentAndDownload(document.id)">
          <span class=" glyphicon glyphicon-file"></span>
          PDF
        </button>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button2">
          <li role="menuitem" ng-click="$ctrl.generatePdfDocumentAndDownload(document.id)"><a href="#">Pobierz {{document.filename}} w PDF</a></li>
          <li class="divider"></li>
          <li role="menuitem" ng-click="$ctrl.generatePdfDocumentAndOpen(document.id)"><a href="#">Otwórz dokument w nowym oknie</a></li>
        </ul>
      </div>
      <button uib-tooltip="Edytuj szablon dokumentu" ng-click="$ctrl.modalDocumentComponentUpdate(document)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
        <span class=" glyphicon glyphicon-pencil"></span>
      </button>
      <button uib-tooltip="Usuń szablon dokumentu" ng-click="$ctrl.modalDocumentComponentDelete(document)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
       <span class=" glyphicon glyphicon-remove-sign"></span>
      </button>
    </header>
    <div>
      <div class="pdflatex-content-data">
        <h4 >Opis szablonu dokumentu</h4>
        <p>
          <ul class="list-group">
            <li ng-if="document.description" class="list-group-item">{{document.description}}</li>
            <li ng-if="!document.description" class="list-group-item"><strong><em>Brak</em></strong></li>
          </ul>
        </p>
        <h4>Nazwa pliku</h4>
        <p>
          <ul class="list-group">
            <li class="list-group-item">{{document.filename}}</li>
          </ul>
        </p>
      </div>
      <h4>Informacje dostępne w wygenerowanym dokumencie</h4>
        <div class="pdflatex-content-data">
          <h4>Część tytułowa <span
            uib-tooltip="{{document.is_title_part ? 'W':'Niew'}}idoczna w wygenerowanym dokumencie"
            class="glyphicon"
            ng-class="{
              'glyphicon-ok': document.is_title_part,
              'glyphicon-remove': !document.is_title_part
            }">
          </span></h4>
          <div class="pdflatex-content-data">
            <h4>Tytuł dokumentu</h4>
            <p hljs hljs-language="tex" hljs-source="document.document_title" ng-if="document.document_title">
            </p>
            <p>
              <ul class="list-group">
                <li ng-if="!document.document_title" class="list-group-item"><strong><em>Brak</em></strong></li>
              </ul>
            </p>
            <h4>Autor</h4>
            <p hljs hljs-language="tex" hljs-source="document.author" ng-if="document.author">
            </p>
            <p>
              <ul class="list-group">
                <li ng-if="!document.author" class="list-group-item"><strong><em>Brak</em></strong></li>
              </ul>
            </p>
            <h4>Data</h4>
            <p hljs hljs-language="tex" hljs-source="document.date" ng-if="document.date">
            </p>
            <p>
              <ul class="list-group">
                <li ng-if="!document.date" class="list-group-item"><strong><em>Brak</em></strong></li>
              </ul>
            </p>
          </div>
          <h4>Zadania
            <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Możesz zmieniać kolejność zadań w szablonie dokumentu za pomocą metody 'Przeciągnij i Upuść'." tooltip-trigger="focus" tooltip-placement="bottom">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
          </h4>
          <button ng-disabled="!$ctrl.updateExRecipesButton" type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.updateExerciseRecipes(outerIndex, document)">Aktualizuj szablony zadań</button>
          <button ng-disabled="!$ctrl.updateExRecipesButton" type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.restoreExerciseRecipes(outerIndex, document)">Przywróć aktualne szablony</button>
          <table ng-if="document.exercise_recipes" class="table table-bordered recipe-table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nazwa</th>
              <th scope="col">Tytuł</th>
              <th scope="col">Wprowadzenie<br /></th>
              <th scope="col">Wskazówka<br /></th>
              <th scope="col">Rozwiązanie<br /></th>
              <th scope="col">Akcje</th>
            </tr>
          </thead>
          <tbody dragula='"exercise-table"' dragula-model="document.exercise_recipes">
            <tr id="{{exercise_recipe.id}}" ng-repeat="exercise_recipe in document.exercise_recipes track by $index">
              <th scope="row">
                {{$index+1}}
              </th>
              <!-- <td scope="row">
                {{exercise_recipe.position_number}}
              </td> -->
              <td><a id="link-5" ng-click="$ctrl.goToSingleExercisePage(exercise_recipe.exercise.id)" href="#">{{exercise_recipe.exercise.title}}</a></td>
              <td>
                <!-- <span
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.exercise.title,
                    'glyphicon-remove': !exercise_recipe.exercise.title
                  }">
                </span> -->
                <span tooltip-enable="!exercise_recipe.exercise.title" uib-tooltip="Bez względu na ustawienie w szablonie ta część będzie niewidoczna. Powód: Ta część zadania jest pusta lub została ukryta przez autora zadania." ng-click="exercise_recipe.is_title=!exercise_recipe.is_title; $ctrl.updateExRecipesButton=true"
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.is_title,
                    'glyphicon-remove': !exercise_recipe.is_title,
                    'notEditable': !exercise_recipe.exercise.title,
                    'editable': exercise_recipe.exercise.title,
                  }">
                </span>
              </td>
              <td>
                <!-- <span
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.exercise.intro,
                    'glyphicon-remove': !exercise_recipe.exercise.intro
                  }">
                </span> -->
                <span tooltip-enable="!exercise_recipe.exercise.intro" uib-tooltip="Bez względu na ustawienie w szablonie ta część będzie niewidoczna. Powód: Ta część zadania jest pusta lub została ukryta przez autora zadania." ng-click="exercise_recipe.is_intro=!exercise_recipe.is_intro; $ctrl.updateExRecipesButton=true"
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.is_intro,
                    'glyphicon-remove': !exercise_recipe.is_intro,
                    'notEditable': !exercise_recipe.exercise.intro,
                    'editable': exercise_recipe.exercise.intro,
                  }">
                </span>

              </td>
              <td>
              <!-- <span
                class="glyphicon"
                ng-class="{
                  'glyphicon-ok': exercise_recipe.exercise.hint,
                  'glyphicon-remove': !exercise_recipe.exercise.hint
                }">
              </span> -->
              <span tooltip-enable="!exercise_recipe.exercise.hint" uib-tooltip="Bez względu na ustawienie w szablonie ta część będzie niewidoczna. Powód: Ta część zadania jest pusta lub została ukryta przez autora zadania." ng-click="exercise_recipe.is_hint=!exercise_recipe.is_hint; $ctrl.updateExRecipesButton=true"
                class="glyphicon"
                ng-class="{
                  'glyphicon-ok': exercise_recipe.is_hint,
                  'glyphicon-remove': !exercise_recipe.is_hint,
                  'notEditable': !exercise_recipe.exercise.hint,
                  'editable': exercise_recipe.exercise.hint,
                }">
              </span>
              </td>
              <td>
                <!-- <span
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.exercise.solution,
                    'glyphicon-remove': !exercise_recipe.exercise.solution
                  }">
                </span> -->
                <span tooltip-enable="!exercise_recipe.exercise.solution" uib-tooltip="Bez względu na ustawienie w szablonie ta część będzie niewidoczna. Powód: Ta część zadania jest pusta lub została ukryta przez autora zadania." ng-click="exercise_recipe.is_solution=!exercise_recipe.is_solution; $ctrl.updateExRecipesButton=true"
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok': exercise_recipe.is_solution,
                    'glyphicon-remove': !exercise_recipe.is_solution,
                    'notEditable': !exercise_recipe.exercise.solution,
                    'editable': exercise_recipe.exercise.solution,
                  }">
                </span>
              </td>
              <td>
                <button uib-tooltip="Usuń zadanie z szablonu dokumentu" ng-click="$ctrl.modalDocumentRecipeComponentDelete(document, exercise_recipe)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
                 <span class=" glyphicon glyphicon-remove-sign"></span>
                </button>
              </td>
            </tr>

          </tbody>
          </table>
          <!-- <p >
            <small>*(W) - ustawienie widoczności w szablonie</small>
          </p> -->
          <p ng-hide="document.exercise_recipes">
            Brak szablonów
          </p>
        </div>
    </div>
  </article>
  <div class="pagination-container">
    <ul ng-show="$ctrl.bigTotalItems && $ctrl.multipleDocumentMode" uib-pagination total-items="$ctrl.bigTotalItems" items-per-page="$ctrl.apiPageSize" ng-model="$ctrl.bigCurrentPage" ng-change="$ctrl.getDocuments()" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
    <select class="page-size" ng-show="$ctrl.bigTotalItems" class="form-control" ng-model="$ctrl.apiPageSize" ng-options="opt for opt in $ctrl.options.apiPageSize" ng-change="$ctrl.getDocuments()"></select>

  </div>
  <p ng-hide="$ctrl.bigTotalItems">
    Brak zadań spełniajacych podane kryteria
  </p>
</div>
