<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <!-- <div class="form-group">
      <label>
        Open tooltips <span uib-tooltip="Hello!" tooltip-is-open="tooltipIsOpen" tooltip-placement="bottom">conditionally.</span>
      </label>

    </div> -->
  <form name="exattform">
    <div class="form-group" ng-class="{
          'has-error': exattform.title.$invalid || $ctrl.backendvalid.title
        }">
      <label for="formGroupExampleInput0">Tytuł zadania</label>
      <input ng-change="$ctrl.backendvalid.title=''" name="title" ng-maxlength="255" ng-model="$ctrl.items.title" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Tytuł" required>
      <small ng-if="$ctrl.items.title">Kod LaTeX</small>
      <span ng-if="$ctrl.items.title" hljs hljs-language="tex" hljs-source="$ctrl.items.title"></span>
      <span class="valid-luki-style" ng-show="exattform.title.$invalid"><small>Wymagana nazwa.</small></span>
      <span class="valid-luki-style" ng-show="exattform.title.$invalid"><small>Maksymalna liczba znaków: 255</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.title"><small>{{$ctrl.backendvalid.title[0]}}</small></span>

    </div>
    <div class="form-group" ng-class="{
          'has-error': $ctrl.backendvalid.intro
        }">
      <label for="formGroupExampleInput1">Wprowadzenie

      </label>
      <textarea ng-change="$ctrl.backendvalid.intro=''" name="intro" rows="3" ng-model="$ctrl.items.intro" type="text" class="form-control" id="formGroupExampleInput1" placeholder="Wprowadzenie"></textarea>
      <small ng-if="$ctrl.items.intro">Kod LaTeX</small>
      <span ng-if="$ctrl.items.intro" hljs hljs-language="tex" hljs-source="$ctrl.items.intro"></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.intro"><small>{{$ctrl.backendvalid.intro[0]}}</small></span>

    </div>
    <div class="form-group" ng-class="{
          'has-error': exattform.taskcontent.$invalid || $ctrl.backendvalid.task_content
        }">
      <label for="formGroupExampleInput2">Treść</label>
      <textarea ng-change="$ctrl.backendvalid.task_content=''" name="taskcontent" rows="3" ng-model="$ctrl.items.task_content" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Treść" required></textarea>
      <small ng-if="$ctrl.items.task_content">Kod LaTeX</small>
      <span ng-if="$ctrl.items.task_content" hljs hljs-language="tex" hljs-source="$ctrl.items.task_content"></span>
      <span class="valid-luki-style" ng-show="exattform.taskcontent.$invalid"><small>Wymagana nazwa.</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.task_content"><small>{{$ctrl.backendvalid.task_content[0]}}</small></span>
    </div>
    <div class="form-group" ng-class="{
          'has-error': $ctrl.backendvalid.hint
        }">
      <label for="formGroupExampleInput3">Wskazówka</label>
      <textarea ng-change="$ctrl.backendvalid.hint=''" name="hint" rows="3" ng-model="$ctrl.items.hint" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Wskazówka"></textarea>
      <small ng-if="$ctrl.items.hint">Kod LaTeX</small>
      <span ng-if="$ctrl.items.hint" hljs hljs-language="tex" hljs-source="$ctrl.items.hint"></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.hint"><small>{{$ctrl.backendvalid.hint[0]}}</small></span>
    </div>
    <div class="form-group" ng-class="{
          'has-error': $ctrl.backendvalid.solution
        }">
      <label for="formGroupExampleInput4">Rozwiązanie</label>
      <textarea ng-change="$ctrl.backendvalid.solution=''" name="solution" rows="3" ng-model="$ctrl.items.solution" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Rozwiązanie"></textarea>
      <small ng-if="$ctrl.items.solution">Kod LaTeX</small>
      <span ng-if="$ctrl.items.solution" hljs hljs-language="tex" hljs-source="$ctrl.items.solution"></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.solution"><small>{{$ctrl.backendvalid.solution[0]}}</small></span>

    </div>
    <div ng-hide="!$ctrl.isAdmin" class="form-group" ng-class="{
          'has-error': exattform.owner.username.$invalid || $ctrl.backendvalid.owner
        }">
      <label for="formGroupExampleInput0">Właściciel zadania</label>
      <input ng-change="$ctrl.backendvalid.owner=''" name="owner" ng-maxlength="150" ng-model="$ctrl.items.owner.username" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Login właściciela" required ng-readonly="!$ctrl.isAdmin">
      <span class="valid-luki-style" ng-show="exattform.owner.username.$invalid"><small>Wymagany login.</small></span>
      <span class="valid-luki-style" ng-show="exattform.owner.username.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.owner"><small>{{$ctrl.backendvalid.owner[0]}}</small></span>

    </div>
    <div class="form-group" ng-class="{
          'has-error': exattform.policies.$invalid
        }">
      <label for="repeatSelect">Profile
        <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Za pomocą profili dostępu decydujesz, które zadania bądź części zadań mają być widoczne dla innych użytkowników. W przypadku konfliktu w danej preferencji (np. widoczność wskazówki) dla dwóch profili jest wybierana opcja niewidoczności treści. Możesz wybrać kilka profili dostępu. W celu wybrania kilku profili klikaj myszą na wybrane pozycje mając cały czas wciśnięty przycisk CTRL." tooltip-trigger="focus" tooltip-placement="bottom">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
      </label>
      <select name="policies" multiple class="form-control" ng-model="$ctrl.selectedPolicy" ng-options="opt.name for opt in $ctrl.accessgroup_list" required></select>
      <span class="valid-luki-style" ng-show="$ctrl.selectedPolicy[0] == null"><small>Wymagany przynajmniej jeden profil dostępu.</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.accessgroup_list.length === 0"><small>Utwórz profil dostępowy, jeśli nie posiadasz żadnego.</small></span>

    </div>
    <div class="form-group">
      <!-- <p ng-repeat="policy in $ctrl.selectedPolicy"  class="pointer" ng-click="$ctrl.goToSingleUserPermissionPage(policy.id)">Więcej o profilu dostępu: {{policy.name}}</p> -->
      <label ng-if=" $ctrl.selectedPolicy">Wybrane profile dostępu:</label>
      <ol>
          <li ng-repeat="policy in $ctrl.selectedPolicy" type="button" class="btn btn-link"  ng-click="$ctrl.goToSingleUserPermissionPage(policy.id)">
                {{policy.name}}
          </li>
      </ol>
    </div>
    <div class="form-group">
      <label for="repeatSelect">Wybierz kategorię</label>
      <select class="form-control" ng-model="$ctrl.selectedCategory" ng-options="opt.full_name for opt in $ctrl.category_list | orderBy:'full_name'"></select>
    </div>
    <div class="form-group">
      <label for="repeatSelect">Wybierz język</label>
      <select class="form-control" ng-model="$ctrl.selectedLanguage" ng-options="opt.name for opt in $ctrl.language_list"></select>
    </div>
    <h4  ng-show="$ctrl.attachments_visible">
      Dodaj załącznik numer {{$ctrl.displayedForms ? $ctrl.displayedForms.length+1 : "0" }}
      <button type="button" class="btn-link white" href="#" ng-click=" $ctrl.addForm(0)">
      <span class=" glyphicon glyphicon-plus-sign"></span>
       </button>
    </h4>
    <article ng-repeat="form in  $ctrl.displayedForms track by $index" class="container-fluid">
      <header>
        <h4>
          <button class="btn btn-default btn-xs" ng-model="$ctrl.displayedForms[$index].is_open" data-nodrag
            uib-btn-checkbox>
            <span
            class="opener glyphicon"
            ng-class="{
              'glyphicon-chevron-right': !$ctrl.displayedForms[$index].is_open,
              'glyphicon-chevron-down': $ctrl.displayedForms[$index].is_open
            }">
            </span>
          </button>
          Załącznik {{$index+1}}
          <button ng-show="$ctrl.deleteSingleAttVisible" type="button" class="btn-link white" href="#" ng-click="$ctrl.removeForm($index)">
          <span class=" glyphicon glyphicon-remove-sign"></span>
           </button>
        </h4>
      </header>
      <ng-include ng-show="$ctrl.displayedForms[$index].is_open" src="$ctrl.displayedForms[$index].src"></ng-include>
    </article>
    <!-- a tutaj mamy załączniki - END -->
  </form>
</div>
<div class="modal-footer">
  <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
  <button ng-disabled="exattform.$invalid || $ctrl.selectedPolicy[0] == null" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.send_button_name}}</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>
