<div ng-controller="ExerciseCtrl as $ctrl">
  <h2>{{$ctrl.bigTotalItems ==1 ? "Zadanie" : "Zadania"}}
    <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Zadania są wyświetlanie w kolejności alfabetycznej." tooltip-trigger="focus" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
  </h2>
  <div class="row">
    <span class="col-md-3">
      <script type="text/ng-template" id="nodes_renderer.html">
        <span ui-tree-handle class="tree-node tree-node-content">
          <div ng-if="node.children && node.children.length > 0">
            <span class="btn btn-default btn-xs" ng-class="{
              'btn-info': node.isOpen,
              'btn-default': !node.isOpen
            }" >
              <span data-nodrag ng-click="toggle(this)"
              class="opener glyphicon"
              ng-class="{
                'glyphicon-chevron-right': collapsed,
                'glyphicon-chevron-down': !collapsed
              }">
              </span>
              <span class="category-name" ng-click="testCtr.toggle(node.id);$ctrl.toggle(node);$ctrl.getExercises()">
                {{node.category_name}}
              </span>
              <div class="btn-group align-cog-to-right dropup menu-on-top" uib-dropdown>
                <button ng-show="testCtr.is_admin()" id="single-button" type="button" class="btn btn-xs" ng-class="{
                  'btn-info': node.isOpen,
                  'btn-default': !node.isOpen
                }" uib-dropdown-toggle>
                  <span  class="glyphicon glyphicon-cog" >
                  </span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a ng-click="testCtr.modalCategoryComponentCreate(node, $ctrl)" href="#">Dodaj podkategorię</a></li>
                  <li  ng-hide="node.id=='all'" role="menuitem"><a ng-click="testCtr.modalCategoryComponentDelete(node.id, node.category_name, $ctrl)" href="#">Usuń kategorię bez podkategorii</a></li>
                  <li  ng-hide="!(node.children && node.children.length > 0)" role="menuitem"><a ng-click="testCtr.deleteSubCategoriesComponentDelete(node.id, node.category_name, $ctrl)" href="#">Usuń podkategorie</a></li>
                  <li  ng-hide="node.id=='all'" class="divider"></li>
                  <li  ng-hide="node.id=='all'" role="menuitem"><a ng-click="testCtr.modalCategoryComponentUpdate(node, $ctrl)" href="#">Edytuj kategorię</a></li>
                </ul>
              </div>
            </span>
          </div>
          <div ng-if="!node.children || !(node.children.length > 0)">
            <span  class="btn btn-xs" ng-class="{
              'btn-info': node.isOpen,
              'btn-default': !node.isOpen
            }">
                <span class="opener glyphicon glyphicon-tag">
                </span>
                <span ng-model="node" class="category-name" ng-click="testCtr.toggle(node.id); $ctrl.toggle(node);$ctrl.getExercises()">
                  {{node.category_name}}
                </span>
                <div ng-show="testCtr.is_admin()" class="btn-group align-cog-to-right menu-on-top dropup" uib-dropdown>
                  <button id="single-button" type="button" class="btn btn-xs" ng-class="{
                    'btn-info': node.isOpen,
                    'btn-default': !node.isOpen
                  }" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu dropup" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a ng-click="testCtr.modalCategoryComponentCreate(node, $ctrl)" href="#">Dodaj podkategorię</a></li>
                    <li ng-hide="node.id=='all'" role="menuitem"><a ng-click="testCtr.modalCategoryComponentDelete(node.id, node.category_name, $ctrl)" href="#">Usuń kategorię bez podkategorii</a></li>
                    <li ng-show="node.children && node.children.length > 0" role="menuitem"><a ng-click="testCtr.deleteSubCategoriesComponentDelete(node.id, node.category_name, $ctrl)" href="#">Usuń podkategorie</a></li>
                    <li ng-hide="node.id=='all'" class="divider"></li>
                    <li ng-hide="node.id=='all'" role="menuitem"><a ng-click="testCtr.modalCategoryComponentUpdate(node, $ctrl)" href="#">Edytuj kategorię</a></li>
                  </ul>
                </div>
            </span>
          </div>
        </div>
        </span>
      <ol  ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
      </ol>
      </script>
      <div ng-if="$ctrl.multipleExerciseMode" class="search-panel container-fluid">
        <h4>Kategorie</h4>
        <div ng-controller="TestCtrl as testCtr">
          <div class="category-tree" ng-repeat="branch in data">
            <div ui-tree id="tree-root" data-drag-enabled="false">
              <ol ui-tree-nodes ng-model="data">
              <li ng-repeat="node in branch" ui-tree-node ng-include="'nodes_renderer.html'"></li>
              </ol>
            </div>
          </div>
        </div>
        <br />

        <h4>Język</h4>
        <select class="form-control" ng-model="$ctrl.languages_opt_single" ng-change="$ctrl.getExercises()" ng-options="opt.name for opt in $ctrl.languages_opt"></select>
        <br />
      </div>
    </span>
    <span class="col-md-9" ng-model="exercises">
      <div ng-if="$ctrl.multipleExerciseMode" class="search-panel container-fluid">
        <div class="exerciseheader">
          <h4 class="elubartflex">{{$ctrl.advanced_search ? "Wyszukiwanie zaawansowane" : "Wyszukiwanie proste"}}</h4>
          <button type="button" class="btn btn-link" ng-model="$ctrl.advanced_search" ng-change="clear_search(); ; $ctrl.getExercises()"
                  uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                {{$ctrl.advanced_search ? "Tryb prosty" : "Tryb zaawansowany"}}
          </button>
        </div>
        <form>
          <div class="form-group row">
            <div class="col-xs-12">
              <div class="form-check">
                  <input ng-change="$ctrl.getExercises()" ng-model="$ctrl.showOnlySelectedItems" class="form-check-input" type="checkbox" value="" id="defaultCheck{{index}}">
                  <label class="form-check-label" for="selectedCheck">
                    Pokaż tylko zaznaczone
                  </label>
              </div>
            </div>
          </div>
          <div ng-hide="$ctrl.advanced_search" class="form-group row">
            <div class="col-xs-8">
              <input ng-model="sim_search.simply" ng-change="$ctrl.getExercises()" type="text" class="form-control"  placeholder="Szukaj ...">
            </div>
          </div>
          <div class="form-group row">
            <div ng-show="$ctrl.advanced_search" class="form-group col-xs-8">
              <div class="form-group row">
                <div class="col-xs-6">
                  <input ng-model="adv_search.title" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Tytuł zadania">
                </div>
                <div class="col-xs-6">
                  <input ng-model="adv_search.owner" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Właściciel zadania">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-xs-6">
                  <input ng-model="adv_search.intro" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Wprowadzenie do zadania">
                </div>
                <div class="col-xs-6">
                  <input ng-model="adv_search.content" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Treść zadania">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-xs-6">
                  <input ng-model="adv_search.hint" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Wskazówka do zadania">
                </div>
                <div class="col-xs-6">
                  <input ng-model="adv_search.solution" ng-change="$ctrl.getExercises()" type="text" class="form-control" placeholder="Rozwiązanie do zadania">
                </div>
              </div>
            </div>
            <div ng-show="$ctrl.advanced_search" class="form-group col-xs-4">
              <div class="form-check">
                <label class="form-check-label" ><input ng-model="adv_search.operation" ng-change="$ctrl.getExercises()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="and" checked>
                  Zadania, do których pasują wszystkie kryteria</label>
              </div>
              <div class="form-check">
                <label class="form-check-label" >
                  <input ng-model="adv_search.operation" ng-change="$ctrl.getExercises()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="or">
                  Zadania, do których pasuje co najmniej jedno z kryteriów</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
              <p ng-if="$ctrl.multipleExerciseMode">Kategoria: {{$ctrl.node.category_name}}</p>
            </div>
            <div class="col-xs-3">
              <p ng-if="$ctrl.multipleExerciseMode">Język: {{$ctrl.languages_opt_single.name}}</p>
            </div>
            <div class="col-xs-3">
              <p ng-if="$ctrl.multipleExerciseMode">Znalezione zadania: {{$ctrl.bigTotalItems}} szt.</p>
            </div>
          </div>
        </form>
      </div>
      <button ng-show="$ctrl.bigTotalItems" type="button" class="btn btn-primary btn-xs" ng-model="isExpand" ng-change="expand()" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        <span
          class="glyphicon"
          ng-class="{
            'glyphicon-expand': !isExpand,
            'glyphicon-collapse-down': isExpand
          }">
        </span>
            {{isExpand == 1 ? ($ctrl.bigTotalItems ==1 ? "Zwiń zadanie" : "Zwiń zadania") : ($ctrl.bigTotalItems ==1 ? "Rozwiń zadanie" : "Rozwiń zadania")}}
            {{}}
      </button>
      <button ng-if="$ctrl.multipleExerciseMode" type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.createExerciseModal($ctrl.node)">Utwórz zadanie</button>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button ng-if="$ctrl.multipleExerciseMode" ng-show="$ctrl.bigTotalItems" type="button" class="btn btn-primary btn-xs" ng-model="$ctrl.selectedPage" ng-change="$ctrl.selectPage()"
                uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
              {{$ctrl.selectedPage ? "Odznacz całą stronę" : "Zaznacz całą stronę"}}
        </button>
        <button ng-if="$ctrl.multipleExerciseMode" type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.unselectAllPages()">Odznacz wszystko</button>
      </div>
      <br><br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button ng-if="$ctrl.multipleExerciseMode" class="btn btn-primary btn-xs" ng-controller="DocumentCtrl as $docCtrl" ng-click="$docCtrl.modalDocumentComponentCreate(false)">Utwórz dokument z zaznaczonych zadań</button>
        <button ng-if="$ctrl.multipleExerciseMode" ng-disabled="$ctrl.numSelectedExercises == 0" class="btn btn-primary btn-xs" ng-controller="DocumentCtrl as $docCtrl" ng-click="$docCtrl.modalDocumentComponentCreate(true)">Dodaj zaznaczone zadania({{$ctrl.numSelectedExercises}}) do istniejącego dokumentu</button>
      </div>
      <!-- <div class="btn-group" uib-dropdown >
        <button id="single-button" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
        Sortuj zadania po:
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li ng-click="navbarRCtrl.goToUserPermGroupProfilePage()" role="menuitem"><a href="#">Autorze</a></li>
          <li class="divider"></li>
          <li ng-click="navbarRCtrl.goToUserGroupsPage()" role="menuitem"><a href="#">Tutule</a></li>
        </ul>
      </div> -->
      <!-- <div class="container ng-isolate-scope" dragula="&quot;another-bag&quot;" dragula-model="many"> -->
      <article ng-repeat="exercise in exercises | orderBy:'name' track by $index">
        <header class="exerciseheader">
          <div class="form-check">
            <input ng-change="$ctrl.updateLocalStorage(exercise.id, exercise.checkValue)" ng-model="exercise.checkValue" class="form-check-input" type="checkbox" value="" id="defaultCheck{{index}}">
          </div>
          <button class="btn btn-default btn-xs" ng-model="exercise.is_open" data-nodrag ng-click="$ctrl.singleExpand($index)"
            uib-btn-checkbox>
            <span
            class="opener glyphicon"
            ng-class="{
              'glyphicon-chevron-right': !exercise.is_open,
              'glyphicon-chevron-down': exercise.is_open
            }">
            </span>
          </button>
          <h4 class="pointer elubartflex exercise-title" ng-click="$ctrl.goToSingleExercisePage(exercise.id)">{{exercise.title}}</h4>
          <button uib-tooltip="Edytuj zadanie" ng-show="$ctrl.isOwner(exercise.owner.username)||$ctrl.isAdmin()" ng-click="$ctrl.updateExerciseModal(exercise)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
            <span class=" glyphicon glyphicon-pencil"></span>
          </button>
          <button uib-tooltip="Usuń zadanie" ng-show="$ctrl.isOwner(exercise.owner.username)||$ctrl.isAdmin()" ng-click="$ctrl.modalExerciseComponentDelete(exercise)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
           <span class=" glyphicon glyphicon-remove-sign"></span>
          </button>
          <button uib-tooltip="Dodaj do istniejącego szablonu dokumentu" ng-controller="DocumentCtrl as $docCtrl" ng-click="$docCtrl.modalDocumentRecipeComponentCreate(exercise)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
            <span class=" glyphicon glyphicon-plus-sign"></span>
          </button>
        </header>
        <div>
          <uib-accordion close-others="false">
           <div hljs hljs-language="tex" hljs-source="exercise.intro" ng-if="exercise.intro" is-open="exercise.intro_is_open" uib-accordion-group class="panel-default" heading="Wprowadzenie">

           </div>
           <div hljs hljs-language="tex" hljs-source="exercise.task_content" ng-if="exercise.task_content" is-open="exercise.task_content_is_open" uib-accordion-group class="panel-default" heading="Treść zadania">

           </div>
           <div hljs hljs-language="tex" hljs-source="exercise.hint" ng-if="exercise.hint" is-open="exercise.hint_is_open" uib-accordion-group class="panel-default" heading="Wskazówka">

           </div>
           <div hljs hljs-language="tex" hljs-source="exercise.solution" ng-if="exercise.solution" is-open="exercise.solution_is_open" uib-accordion-group class="panel-default" heading="Rozwiązanie">

           </div>
           <div ng-if="exercise.attachments" is-open="exercise.attachments_is_open" uib-accordion-group class="panel-default">
             <uib-accordion-heading>
               Załączniki ({{exercise.attachments.length}})
               <div ng-click="exercise.attachments_is_open=false;" class="btn-group" uib-dropdown >
                 <button ng-show="$ctrl.isOwner(exercise.owner.username)||$ctrl.isAdmin()" id="single-button" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
                 <span class=" glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-click="$ctrl.modalAttachmentComponentCreate(exercise.id)" role="menuitem"><a href="#">Dodaj załącznik</a></li>
                    <li ng-click="$ctrl.modalAttachmentsComponentDelete(exercise)" ng-show="exercise.attachments.length" role="menuitem"><a href="#">Usuń załączniki</a></li>
                  </ul>
                </div>
              </uib-accordion-heading>
              <div ng-if="exercise.attachments" ng-repeat="attachment_type_p in $ctrl.options.attachment_types">
                <h4 ng-if="$ctrl.attachment_filter(attachment_type_p.name, exercise.attachments)">
                  Do: {{attachment_type_p.id}}
                </h4>
                <div  is-open="attachment.attachment_is_open" ng-repeat="attachment in exercise.attachments | filter: { attachment_type: attachment_type_p.name }" uib-accordion-group class="panel-default">
                  <uib-accordion-heading>
                    Załącznik nr {{$index+1}}
                    <div class="btn-group" ng-show="$ctrl.isOwner(exercise.owner.username)||$ctrl.isAdmin()" uib-dropdown>
                      <button ng-click="attachment.attachment_is_open=false;" id="single-button{{$index+1}}" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
                        <span class=" glyphicon glyphicon-cog"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      <li ng-click="attachment.attachment_is_open=false;$ctrl.modalAttachmentComponentUpdate(attachment)" role="menuitem"><a href="#">Edytuj załącznik</a></li>
                      <li class="divider"></li>
                      <li ng-click="attachment.attachment_is_open=false;$ctrl.modalAttachmentComponentDelete(exercise, attachment)" role="menuitem"><a href="#">Usuń załącznik</a></li>
                      </ul>
                    </div>
                  </uib-accordion-heading>
                  <div class="container-fluid image-exercise-get">
                    <img class="img-responsive image-miniature" src="data:image/png;base64, {{attachment.image.base64_string}}" ng-click="$ctrl.openInNewWindow(attachment.image.base64_string)" alt="Red dot" />
                  </div>

                  <div class="col-sm-6">
                    <h4>Nazwa</h4>
                    <p>
                      <ul class="list-group">
                        <li class="list-group-item">{{attachment.name}}</li>
                      </ul>
                    </p>
                    <h4>Etykieta</h4>
                    <p hljs hljs-language="tex" hljs-source="attachment.label" ng-if="attachment.label">
                    </p>
                    <p >
                      <ul class="list-group">
                        <li  ng-if="!attachment.label" class="list-group-item"><strong><em>Brak</em></strong></li>
                      </ul>
                    </p>
                    <h4>Przypis do załącznika</h4>
                    <p hljs hljs-language="tex" hljs-source="attachment.caption" ng-if="attachment.caption">
                    </p>
                    <p >
                      <ul class="list-group">
                        <li ng-if="!attachment.caption" class="list-group-item"><strong><em>Brak</em></strong></li>
                      </ul>
                    </p>
                    <h4>Skala</h4>
                    <p hljs hljs-language="tex" hljs-source="''+attachment.width">
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <h4>Oryginalna szerokość</h4>
                    <p>
                      <ul class="list-group">
                        <li class="list-group-item">{{attachment.image.width}}</li>
                      </ul>
                    </p>
                    <h4>Oryginalna wysokość</h4>
                    <p>
                      <ul class="list-group">
                        <li class="list-group-item">{{attachment.image.height}}</li>
                      </ul>
                    </p>
                    <h4>Rozmiar pliku</h4>
                    <p>
                      <ul class="list-group">
                        <li class="list-group-item">{{attachment.image.size}}</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <section class="elubartp">
                <p >Autor: {{exercise.owner.username}}</p>
            </section>
          </uib-accordion>
        </div>
      </article>
      <!-- </div> -->
      <div class="pagination-container">
        <ul ng-show="$ctrl.bigTotalItems && $ctrl.multipleExerciseMode" uib-pagination total-items="$ctrl.bigTotalItems" items-per-page="$ctrl.apiPageSize" ng-model="bigCurrentPage" ng-change="$ctrl.goToOtherPage()" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
        <select class="page-size" ng-show="$ctrl.bigTotalItems" ng-model="$ctrl.apiPageSize" ng-options="opt for opt in $ctrl.options.apiPageSize" ng-change="$ctrl.getExercises()"></select>
      </div>

      <p ng-hide="$ctrl.bigTotalItems">
        Brak zadań spełniajacych podane kryteria
      </p>
    </span>
  </div>
  <script type="text/ng-template" id="form1.tpl.html">
    <!-- <button ng-show="$ctrl.deleteSingleAttVisible" type="button" class="btn-link white" href="#" ng-click="$ctrl.removeForm($index)">
    <span class=" glyphicon glyphicon-remove"></span>
     </button> -->
    <div class="form-group">
      <div class="form-group row" ng-class="{
            'has-error': exattform.attname{{$index}}.$invalid || $ctrl.backendvalid.attachments[$index].name
          }">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nazwa załącznika:</label>
        <div class="col-sm-10">
          <input ng-change="$ctrl.backendvalid.attachments[$index].name=''" name="attname{{$index}}" ng-maxlength="255" ng-model="$ctrl.items.attachments[$index].name" type="text" id="inputPassword" class="form-control" placeholder="Nazwa" required>
          <span class="valid-luki-style" ng-show="exattform.attname{{$index}}.$invalid"><small>Wymagana nazwa.</small></span>
          <span class="valid-luki-style" ng-show="exattform.attname{{$index}}.$invalid"><small>Maksymalna liczba znaków: 255</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid.attachments[$index].name"><small>{{$ctrl.backendvalid.attachments[$index].name[0]}}</small></span>

        </div>
      </div>
      <div class="form-group row" ng-class="{
            'has-error': exattform.attfilename{{$index}}.$invalid || $ctrl.backendvalid.attachments[$index].image
          }">
        <label for="inputImage" class="col-sm-2 col-form-label">Wczytany plik:</label>
        <div class="col-sm-7">
          <input ng-change="$ctrl.backendvalid.attachments[$index].image=''" name="attfilename{{$index}}" ng-model="$ctrl.items.attachments[$index].file.name" for="inputImage" type="text" readonly class="form-control" placeholder="{{$ctrl.items.attachments[$index].file.name ? $ctrl.items.attachments[$index].file.name : 'Nowo wczytany plik'}}" ng-required="$ctrl.attachmentRequired">
          <span class="valid-luki-style" ng-show="exattform.attfilename{{$index}}.$invalid"><small>Wymagany plik.</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid.attachments[$index].image"><small>{{$ctrl.backendvalid.attachments[$index].image[0]}}</small></span>
          <label class="pointer"  for="upload{{$index}}">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <file ng-change="$ctrl.loadImageFileAsURL($index)" id="upload{{$index}}" name="image" style="display:none" ng-model="$ctrl.items.attachments[$index].file" accept="image/png,image/jpg,image/jpeg" ></file>
          </label>
        </div>
        <div class="col-sm-3">
          <img ng-click="$ctrl.openInNewWindow($index)" class="img-responsive image-border" src="{{$ctrl.items.attachments[$index].image.base64_string}}" alt="Podgląd zdjęcia" />
        </div>
      </div>
      <div class="form-group row" ng-class="{
            'has-error': exattform.attlabel{{$index}}.$invalid || $ctrl.backendvalid.attachments[$index].label
          }">
        <label for="inputLabel" class="col-sm-2 col-form-label">Etykieta:</label>
        <div class="col-sm-10">
          <input ng-change="$ctrl.backendvalid.attachments[$index].label=''" name="attlabel{{$index}}" ng-maxlength="255" ng-model="$ctrl.items.attachments[$index].label" type="text" id="inputLabel" class="form-control" placeholder="Etykieta" required>
          <small ng-if="$ctrl.items.attachments[$index].label">Kod LaTeX</small>
          <span ng-if="$ctrl.items.attachments[$index].label" hljs hljs-language="tex" hljs-source="$ctrl.items.attachments[$index].label"></span>
          <span class="valid-luki-style" ng-show="exattform.attlabel{{$index}}.$invalid"><small>Wymagana nazwa.</small></span>
          <span class="valid-luki-style" ng-show="exattform.attlabel{{$index}}.$invalid"><small>Maksymalna liczba znaków: 255</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid.attachments[$index].label"><small>{{$ctrl.backendvalid.attachments[$index].label[0]}}</small></span>

        </div>
      </div>
      <div class="form-group row" ng-class="{
            'has-error': exattform.attcaption{{$index}}.$invalid || $ctrl.backendvalid.attachments[$index].caption
          }">
        <label for="inputCaption" class="col-sm-2 col-form-label">Przypis do załącznika:</label>
        <div class="col-sm-10">
          <input ng-change="$ctrl.backendvalid.attachments[$index].caption=''" name="attcaption{{$index}}" ng-maxlength="400" ng-model="$ctrl.items.attachments[$index].caption" type="text" id="inputCaption" class="form-control" placeholder="Przypis do załącznika">
          <small ng-if="$ctrl.items.attachments[$index].caption">Kod LaTeX</small>
          <span ng-if="$ctrl.items.attachments[$index].caption" hljs hljs-language="tex" hljs-source="$ctrl.items.attachments[$index].caption"></span>
          <span class="valid-luki-style" ng-show="exattform.attcaption{{$index}}.$invalid"><small>Maksymalna liczba znaków: 400</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid.attachments[$index].caption"><small>{{$ctrl.backendvalid.attachments[$index].caption[0]}}</small></span>

        </div>
      </div>
      <div class="form-group row" ng-class="{
            'has-error': exattform.attwidth{{$index}}.$invalid || $ctrl.backendvalid.attachments[$index].width
          }">
        <label for="inputWidth" class="col-sm-2 col-form-label">Skala obrazka:</label>
        <div class="col-sm-10">
          <input ng-change="$ctrl.backendvalid.attachments[$index].width=''" name="attwidth{{$index}}" ng-model="$ctrl.items.attachments[$index].width" type="number" min="0.000001" id="inputWidth" class="form-control" placeholder="Liczba dodatnia" required>
          <small ng-if="$ctrl.items.attachments[$index].width">Kod LaTeX</small>
          <span ng-if="$ctrl.items.attachments[$index].width" hljs hljs-language="tex" hljs-source="''+$ctrl.items.attachments[$index].width"></span>
          <span class="valid-luki-style" ng-show="exattform.attwidth{{$index}}.$invalid"><small>Wymagana liczba dodania.</small></span>
          <span class="valid-luki-style" ng-show="$ctrl.backendvalid.attachments[$index].width"><small>{{$ctrl.backendvalid.attachments[$index].width[0]}}</small></span>
        </div>
      </div>
      <div class="form-group">
        <label for="repeatSelect">Wybierz, do której części zadania ma być podpięty załącznik</label>
        <select class="form-control" ng-model="$ctrl.items.attachments[$index].selectedType" ng-options="opt.id for opt in $ctrl.items.attachments[$index].attachment_type"></select>
      </div>
      <!-- <button ng-show="$ctrl.deleteSingleAttVisible" ng-click=" $ctrl.removeForm($index)">Usuń załącznik</button> -->
    </div>
  </script>
</div>
