<h2>Serwis Internetowy do Zarządzania Bazą Materiałów Dydaktycznych</h2>
<article>
  <header>
    <h3>Witaj!</h3>
  </header>
  <section ng-controller="HomeCtrl as $ctrl">
    <p ng-show="$ctrl.unlogged_user">Aby przeglądać treści dydaktyczne i móc generować dokumenty,
      konieczne jest zalogowanie się do serwisu za pomocą loginu i hasła wydziałowego ORION.</p>
    <p ng-show="!$ctrl.unlogged_user">Jesteś zalogowany jako użytkownik {{$ctrl.username}}.
     Możesz teraz przeglądać treści dydaktyczne i generować dokumenty.</p>
    <p ng-show="$ctrl.is_admin">Posiadasz uprawnienia administratora, dlatego dodatkowo masz możliwość:</p>
    <ul ng-show="$ctrl.is_admin">
      <li ng-show="$ctrl.is_admin">Edytować zadania i profile dostępu należące do innych użytkowników.</li>
      <li ng-show="$ctrl.is_admin">Usuwać zadania i profile dostępu należące do innych użytkowników.</li>
      <li ng-show="$ctrl.is_admin">Dodawać zadania i profile dostępu wraz z przypisaniem do nich użytkowników serwisu.</li>
      <li ng-show="$ctrl.is_admin">Zarządzać kategoriami.</li>
      <li ng-show="$ctrl.is_admin">Edytować preambułę dokumentu.</li>
    </ul>
  </section>

</article>
