<script type="text/ng-template" id="nodes_renderer.html">
  <span ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.children && node.children.length > 0" data-nodrag ng-click="toggle(this)"><span
      class="glyphicon"
      ng-class="{
        'glyphicon-chevron-right': collapsed,
        'glyphicon-chevron-down': !collapsed
      }"></span>
    </a>
    <span ng-model="node" ng-click="testCtr.toggle(node)">
        {{node.category_name}}
    </span>
  </span>
  <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
<div ng-controller="TestCtrl as testCtr">
  <div ng-repeat="branch in data">
    <div ui-tree id="tree-root" data-drag-enabled="false">
      <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in branch" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
</div>
