<div id="divkam" ng-controller="navbarRightCtrl as navbarRCtrl" class="navbar-form navbar-right form-inline ">
  <div ng-show="navbarRCtrl.isUnLoggedUser()">
    <!-- <button ng-click="navbarRCtrl.goToRegisterPage()" class='btn-link white' href="#"><span class=" glyphicon glyphicon-user white"></span>Sign Up</button> -->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
      <input ng-model="navbarRCtrl.credentials.username" type="text" class="form-control" placeholder="Orion Login" aria-describedby="basic-addon1" ng-keypress="navbarRCtrl.loginUser($event)">
      <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span>
      <input ng-model="navbarRCtrl.credentials.password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2" ng-keypress="navbarRCtrl.loginUser($event)">
    </div>
    <button ng-click="navbarRCtrl.loginUser()" class='btn-link white' href="#"><span class=" glyphicon glyphicon-log-in white"></span> Log in</button>
  </div>
  <div ng-show="!navbarRCtrl.isUnLoggedUser()">
    <!-- <button ng-click="navbarRCtrl.goToAcountDetailsPage()" class='btn-link white' href="#"><span class=" glyphicon glyphicon-user white"></span> {{navbarRCtrl.credentials.username}}</button> -->
    <div class="btn-group" uib-dropdown >
      <button id="single-button" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
      <span class=" glyphicon glyphicon-user white"></span> {{navbarRCtrl.credentials.username}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <!-- <li ng-click="navbarRCtrl.goToDocumentPage()" role="menuitem"><a href="#">Moje szablony dokumentów</a></li> -->
        <li ng-click="navbarRCtrl.goToUserPermGroupProfilePage()" role="menuitem"><a href="#">Definicje profili dostępu</a></li>
        <li class="divider"></li>
        <li ng-click="navbarRCtrl.goToUserGroupsPage()" role="menuitem"><a href="#">Moje grupy LDAP</a></li>
      </ul>
    </div>
    <button ng-click="navbarRCtrl.logoutUser()" class='btn-link white' href="#"><span class=" glyphicon glyphicon-log-out white"></span> Wyloguj</button>
  </div>
</div>
