<div ng-controller="PreambuleCtrl as $ctrl" >
  <h2>Preambuła dokumentu
    <button type="button" class="btn-link btn-xs white lukihelper" href="#" uib-tooltip="Preambuła dokumetu jest używana do generowania pliku pdf/tex. Serwsis wspiera jedną instancję preambuły, która jest używana do generowania plików. Edytować preambułę może jedynie administrator (na własną odpowiedzialność)." tooltip-trigger="focus" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
  </h2>
  <article class="container-fluid" ng-repeat="preambule in preambules">
    <header class="documentheader">
      <h3  class="pointer  elubartflex document-title">{{preambule.preambule_title}}</h3>
      <button ng-if="$ctrl.is_admin()" uib-tooltip="Edytuj preambułę" ng-click="$ctrl.modalPreambuleComponentUpdate(preambule)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
        <span class=" glyphicon glyphicon-pencil"></span>
      </button>
    </header>
    <div hljs hljs-language="tex" hljs-source="preambule.content" class="panel-default" >
    </div>
  </article>

</div>
