<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="exattform">
    <div class="form-group" ng-class="{
          'has-error': exattform.preambule_title.$invalid || $ctrl.backendvalid.preambule_title
        }">
      <label for="formGroupExampleInput0">Tytuł preambuły</label>
      <input ng-change="$ctrl.backendvalid.title=''" name="preambule_title" ng-maxlength="255" ng-model="$ctrl.items.preambule_title" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Tytuł" required>
      <span class="valid-luki-style" ng-show="exattform.preambule_title.$invalid"><small>Wymagana nazwa.</small></span>
      <span class="valid-luki-style" ng-show="exattform.preambule_title.$invalid"><small>Maksymalna liczba znaków: 255</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.preambule_title"><small>{{$ctrl.backendvalid.preambule_title[0]}}</small></span>
    </div>
    <div class="form-group" ng-class="{
          'has-error': exattform.content.$invalid || $ctrl.backendvalid.content
        }">
      <label for="formGroupExampleInput2">Treść preambuły</label>
      <textarea ng-change="$ctrl.backendvalid.content=''" name="content" rows="3" ng-model="$ctrl.items.content" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Treść" required></textarea>
      <small ng-if="$ctrl.items.content">Kod LaTeX</small>
      <span ng-if="$ctrl.items.content" hljs hljs-language="tex" hljs-source="$ctrl.items.content"></span>
      <span class="valid-luki-style" ng-show="exattform.content.$invalid"><small>Wymagana treść.</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.content"><small>{{$ctrl.backendvalid.content[0]}}</small></span>
    </div>
  </form>
</div> 
<div class="modal-footer">
  <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
  <button ng-disabled="exattform.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.send_button_name}}</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>
