/*.category-valid input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }*/


/*.custom-has-error {
        border-color: #cf0d09;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }*/

.valid-luki-style {
  font-weight: bold;
  color: #ab1111;
}

.valid-luki-style-2 {
  font-weight: bold;
}


pre {

    display: block;
    padding: 2px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;

}
